__pycache__/
.env
venv/
venv_test/
*.pyc
*.pyo
*.log
.DS_Store
*.sqlite3
node_modules/
dist/
build/


# Ignore virtual environments
venv/
backend/venv/
frontend/venv/
venv/
__pycache__/
*.pyc
.vscode/
.env
